#Folders and files to ignore
__ignore__/

### ROS ###
devel/
devel_isolated/
logs/
build/
build_isolated/
bin/
install/
.catkin_tools/
.catkin_workspace
src/ExternalPackages/
src/.rosinstall.bak

### Others ###
*.DS_Store
*.pyc
.vscode/